@import "./reset.scss";
@import "./sassColor.scss";
@import "./ui.scss";


i[class^=iconfont] {
  display: inline-block;
  width: 44px;
  border-radius: 50%;
  background-color: $color_main;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  color: white;
  font-size: 23px;
}